.navbar{
    position: fixed;
}
body{
    background-image: linear-gradient(0deg, rgb(82, 160, 53), rgb(242, 248, 239));
    background-repeat: no-repeat;

}
 
.card .btn:hover{
    background-color: brown;

}
.nav-item .nav-link:hover{
background-color: rgb(197, 51, 3);
}
@media (min-width:700px){

    .card{
        width: 100%;
    }
}
.p1{
    text-align: center;
}
.card-title{
    color: brown;
    font-weight: bold;
    text-align: center;}

    .hover-3 {
        --b: 0.1em;   /* the thickness of the line */
        --c: #1095c1; /* the color */
        
        color: #0000;
        padding-block: var(--b);
        background: 
          linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
          linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
        -webkit-background-clip: text,padding-box;
                background-clip: text,padding-box;
        transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
      }
      .hover-3:hover {
        --_p: 100%;
        --_s: .3s;
      }
      .hd1{
        text-align: center; 
        color: brown;
      }
      .p2{
        text-align: justify;
      }
      .im{
        width: 100%;
        height: 62%;
      }
      